
   <h3> Just type and submit for a snippet</h3>
<form action="/snippy" method="POST">
  {{!-- <input type="text" placeholder="text" name="text">
</form> --}}
 <div class="form-group">
    <textarea class="form-control" id="exampleFormControlTextarea1" name="text" rows="3"></textarea>
  </div>
  <button type="submit">Submit</button>
  </form>
<br>
{{#if snippet}}
<ul>
  {{#each snippet}}
  <li>{{ text}} -- CreatedBy : {{createdBy}} --- Created: {{createdAt}}  <a href ="/snippy/delete/{{id}}">Remove</a></li>

  {{/each}}
</ul>
{{/if}}

<a href="/snippet{{id}}/edit" type='button' class='btn btn-default btn-warning'>
  Edit snippets
  </a>